main {

    background-color: #DDDDDD;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 5px;


}



.section-first {
    display: flex;
    width: 100%;
    height: 50%;
    padding: 10px 0px;
    color: black;
    background-color: #DDDDDD;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    gap: 15px;
}

main h1 {
    font-size: 18px;
    margin-top: 20px;
}


.section-secondary {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px 0px;
    color: black;
    background-color: #DDDDDD;

}

main h1 {
    font-size: 18px;
}

.flex-icone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 76px;
    justify-content: center;
    align-items: center;
}

.master-box {
    display: flex;
    width: 206px;
    gap: 20px;

}



.box {
    padding: 0px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 281px;
    width: 206px;
}


.infos-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 26px;


}

.box .button-perfil {
    position: relative;
    top: 14px;
    border: 2px solid rgb(58, 117, 18);
    background-color: rgb(58, 117, 18);
    color: aliceblue;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;

}


.infos-name span {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 2px;

}

.infos-name p {
    letter-spacing: 1px;
    font-size: 0.7rem;

}

.box h5 {
    color: #363636;
    position: relative;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
    top: 38px;
}

.footer-card {
    color: aliceblue;
    font-size: 11px;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    background-color: #000;
    position: relative;
    top: 60px;
    left: 32px;
}




/* ******** MEDIA QUERY *********** */

@media (min-width: 570px) {

    main {

        background-color: #DDDDDD;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        gap: 5px;
        max-width: 100%;
        align-items: center
    }


    main h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .section-first {
        display: flex;
        width: 100%;
        height: 50%;
        padding: 10px 0px;
        color: black;
        background-color: #DDDDDD;
        flex-direction: row;
        align-items: center;
        overflow-x: hidden;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-secondary {
        display: flex;
        width: 100%;
        height: 50%;
        padding: 10px 0px;
        color: black;
        background-color: #DDDDDD;
        flex-direction: row;
        align-items: center;
        overflow-x: hidden;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        padding: 0px 20px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        height: 281px;
        width: 206px;

    }

}